Source: stsbl-iserv-rssh
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: iserv3-dev, dh-systemd
Standards-Version: 3.9.5

Package: stsbl-iserv-rssh
Architecture: all
Depends: stsbl-iserv-sftp (>= 17.07.05), iserv-server-incron, rssh
Description: rssh-Unterstützung für IServ (EXPERIMENTELL)
 Dieses Paket bietet Unterstützung für die Login-Shell rssh (http://www.pizzashack.org/rssh/),
 die einen Zugriff mittels SSH über das Synchronisationsprotokoll rsync und das Dateiübertragungsprotokoll
 SCP sicher ermöglicht, ohne dass der Benutzer eine Login-Shell öffnen kann. Dieses Modul setzt den
 SFTP-Server voraus, der gegegebenfalls automatisch mitinstalliert wird.
 .
 Dieses Modul ist als sehr frühe Beta anzusehen, momentan muss bei Benutzern, die mittels rssh auf den
 Server zugreifen können sollen, die Login-Shell noch manuell von /usr/sbin/nologin auf /usr/bin/rssh
 geändert werden.
Tag: suite::iserv:portal, role::plugin, implemented-in::shell, status::experimental, status::highlighted
